/* Write your CSS here */

.main-container {
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #150b3e;
  width: 35%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.head-container {
  margin: 10px;
}

.heading-letter {
  color: #382f5a;
  background-color: #c4c4c4;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  margin-left: 25px;
}

.head {
  color: #c4c4c4;
  font-size: 20px;
  font-family: 'Roboto';
}
.amount-container {
  margin: 10px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}
.para {
  color: #382f5a;
  font-size: 20px;
}

.amount {
  color: #d4d2db;
  font-size: 18px;
}

.amount-in-words {
  color: #382f5a;
  font-size: 14px;
}

.withdraw-heading {
  color: #d4d2db;
  font-size: 18px;
  padding-left: 20px;
}

.amount-selection-text {
  color: #382f5a;
  font-size: 10px;
  padding-left: 20px;
}

.denominations-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
